*.pyc
.idea
~*.xlsm
*.log
app/build/*
app/dist/*
app/samples/build/*
app/samples/dist/*
*.spec
app/samples/pipeline.lp
app/samples/output/*
__pycache__
app/config/env.py
app/log
outputs/*
app/batches/*.mps
app/samples/file_logistics.lp
app/samples/*.mps
